.a-desc, .a-show-more{
    font-size: 12px!important;
    text-align: justify;
    padding: 0.4rem 1.5rem;
}

.img-vector{
    position: sticky;
    right: 0;
    bottom: 0;
    margin-bottom: -4rem;
    max-width: 450px;
    min-width: 450px;
    width: 100%;
    object-fit: contain!important;
}

@media screen and (max-width: 768px) {
    .img-vector{
        display: none!important;
        height: 130px;
        margin-right: -4rem;
    }
    .svg-con{
        position: sticky!important;
        bottom: 10;
        margin-bottom: -20rem;
    }
}

@media screen and (max-width: 960px) {
    .img-vector{
        display: none!important;
        height: 130px;
        margin-right: -4rem;
    }
}