.co-f{
    font-size: 12px!important;
    text-align: center!important;
}
.t-overlay-con{
    z-index: 100;
}

.c-description{
    text-transform: lowercase;
    text-align: justify!important;
    font-size: 12px!important;
}

.t-close{
    font-size: 1.7rem;
    margin: 0px 1rem;
}
.t-modal-img{
    max-width: 200px;
    min-width: 200px;
    width: 100%;
    align-self: center;
}